<div class="container">
  <div class = "row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Username<small> <%= time_ago_in_words(Time.now) %> ago </small>
        </h3>
        </div>

<div class="panel-body">
  <dd><span class=hidden><%= @photo.user_id %></span></dd>
  <dd><span class=hidden><%= @photo.caption %></span></dd>
  <dd><img src="<%= @photo.image %>" class="img-responsive"</dd>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/photos" class="btn btn-primary">
        Back
      </a>

      <% if current_user.id == @photo.user_id %>
        <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
